html {
  display: flex;
  min-height: 100%;
}

body {
  background-color: #ededed;
  flex: 1 0;
  display: flex;
}


.alerts {
  position: fixed;
  top: 8px;
  right: 8px;
  width: 350px;
}

main {
  display: flex;
  flex: 1;
  margin-top: 56px;

  .navbar.sidebar {
    width: 300px;
    flex: 0 0 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    .navbar-nav {
      width: 100%;
    }
  
    .label-dropdown {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 0.8rem;
    }
  }

  section {
    flex: 1;
    margin-top: 12px;
  }
}

main {
  .content {
    background: #fff;
    border-radius: 0.2rem;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
  }
}

nav {
  ul {
    padding-left: 0px;
  }
  .label-list-group {
    list-style: none;
    margin-bottom: 0.4rem;

    > .btn-group {
      display: grid;
      grid-template-columns: 1fr 30px;
    }

    .label-link {
      border-width: 2px;
    }
    .dropdown-menu {
      padding: 0;
      right: 0px;
      left: auto;
    }

    .label-actions {
      display: flex;
    }
  }
  .label-color-list {
    display: grid;
    grid-template-columns: 54px 54px 54px;
    list-style: none;
    li {
      margin-bottom: 0.2rem;
      a {
        display: inline-block;
        width: 54px;
        height: 54px;
        padding: 13px;
        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
      .label-color {
        display: inline-block;
        width: 28px;
        height: 28px;
      }
    }
  }
}

// Override for Trix editors attachment button
.trix-button-group--file-tools {
  display: none !important;
}