@import 'variables';

// Tickets - Index
.tickets {
  table {
    #select-all-checkbox-header {
      min-width: 2.4rem;
    }
    th {
      vertical-align: middle;
    }
  }

  .ticket {
    font-size: 0.8rem;
    transition: background 0.3s;

    .priority {
      color: #fff;
      &.priority-unknown { display: none; }
      &.priority-low   { background-color: #ffd700; }
      &.priority-medium{ background-color: #ff8000; }
      &.priority-high  { background-color: #da1500; }
    }

    &.highlight {
      background: rgba($primary, 0.1);
    }
  }
}

// Tickets - Show
.show-ticket {
  .output {
    font-size: 1.1rem;
  }

  .ticket-header {
    padding: 0.4rem;
    border-bottom: 1px solid #d2d2d2;
    .ticket-subject {
      font-size: 1.3rem;
    }
  
    .ticket-contact {
      font-size: 1.1rem;
    }
  
    .ticket-actions {
      display: block;
    }
  }
}