<div class="modal fade" id="addLabelModal" tabindex="-1" role="dialog" aria-labelledby="addLabelModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <%= render 'labelings/add_label_form', labeling: labeling %>
  </div>
</div>